<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="org.zywx.wbpalmstar.plugin.uextabindicatorview.EUExTabIndicatorView" uexName="uexTabIndicatorView" >
        <method name="open" />
        <method name="close" />
        <method name="test" />
        <method name="setVisible"/>
    </plugin>
</uexplugins>